---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "哎呀！这个页面迷失在宇宙中了！",
	title: "找不到页面",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">404 | 页面迷失在深空中</h1>
	<p class="mb-8">请使用导航栏找到回归的路 🪐</p>
</PageLayout>
