---
import { type CollectionEntry, getCollection } from "astro:content";
import PostPreview from "@/components/blog/PostPreview.astro";
import Note from "@/components/note/Note.astro";
import SocialList from "@/components/SocialList.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts.sort(collectionDateSort) as CollectionEntry<"post">[];
const latestPosts = allPostsByDate.slice(0, MAX_POSTS);

// Pinned Posts, set to a max of 3;
const MAX_PINNED_POSTS = 3;
const pinnedPosts = allPostsByDate
	.values()
	.filter((p) => p.data.pinned)
	.take(MAX_PINNED_POSTS)
	.toArray();

// Notes, set to a max of 5
const MAX_NOTES = 5;
const allNotes = await getCollection("note");
const latestNotes = allNotes
	.sort(collectionDateSort)
	.slice(0, MAX_NOTES) as CollectionEntry<"note">[];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-12">欢迎来到星语宇宙！</h1>
		<p class="mb-4">
			这里是一个探索宇宙奥秘的天文知识站。从太阳系的行星到遥远的星系，从黑洞的神秘到宇宙的起源，我们用通俗易懂的语言，为你解读天文学的精彩世界。
		</p>
		<p class="mb-4">
			无论你是天文爱好者、学生，还是对宇宙充满好奇的探索者，都能在这里找到有趣的内容。让我们一起仰望星空，探索无垠宇宙的壮丽与奥秘。
		</p>
		<SocialList />
	</section>
	{
		pinnedPosts.length > 0 && (
			<section class="mt-16">
				<h2 class="title mb-6 text-xl">Pinned Posts</h2>
				<ul class="space-y-4" role="list">
					{pinnedPosts.map((p) => (
						<li class="grid gap-1 sm:grid-cols-[auto_1fr]">
							<PostPreview post={p} />
						</li>
					))}
				</ul>
			</section>
		)
	}
	<section class="mt-16">
		<h2 class="title text-accent mb-6 text-xl"><a href="/posts/">天文文章</a></h2>
		<ul class="space-y-4" role="list">
			{
				latestPosts.map((p) => (
					<li class="grid gap-1 sm:grid-cols-[auto_1fr]">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	{
		latestNotes.length > 0 && (
			<section class="mt-16">
				<h2 class="title text-accent mb-6 text-xl">
					<a href="/notes/">星图笔记</a>
				</h2>
				<ul class="space-y-6" role="list">
					{latestNotes.map((note) => (
						<li>
							<Note note={note} as="h3" isPreview />
						</li>
					))}
				</ul>
			</section>
		)
	}
</PageLayout>
